doctype html
html
  include ./includes/head.jade
  body(ng-app="stocksApp")
    div#main(ng-controller="StocksAppCtrl as ctrl" class='container')
      .center-align.card-panel.hoverable#portfolio
        h1#title #{title}
        div(ng-hide='ctrl.portfolio')
          p.
            Looks like you don't have a portfolio yet.
            Search below to get started
        div(ng-show='ctrl.portfolio')
          h3 Your Current Portfolio
          div
            table.highlight
              thead
                tr
                  td Name
                  td Quantity Owned
                  td Cost
                  td Current Value
              tbody
                tr(ng-repeat="stock in ctrl.portfolio track by $index")
                  td {{stock.name}}
                  td {{stock.quantity}}
                  td {{stock.cost}}
                  td(ng-show='stock.currentPrice') {{(stock.currentPrice * stock.quantity).toFixed(2)}}
        div
          h3 Search for new stocks
          input(type='text' placeholder='Search for Stocks' id="lookup")
          table
              thead
                tr
                  td Stock Name
                  td Ticker Symbol
                  td Get Quote
              tbody
                tr(ng-repeat="stock in ctrl.stocks")
                  td {{stock.Name}}
                  td {{stock.Symbol}}
                  td <a href='/quote/{{stock.Symbol}}''> QUOTE</a>
    include ./includes/scripts.jade

